* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat/Montserrat-Regular.ttf");
}

body {
    zoom: 0.8;
    font-size: 17px;
}

.seperator {
    background: #ede6e6;
    height: 1px;
}

.row.header {
    position: fixed;
    z-index: 999;
    background: white;
    width: 100%;
    top: 0px;
}

.row.header.active_header {
    background-color: black;
}

.logo a.img2 {
    display: none;
}

.logo.active_logo a.img2 {
    display: block;
}

.logo.active_logo a.img1 {
    display: none;
}

.menu_items.active_menu ul li a {
    color: white;
}

.logo img {
    width: 70%;
    padding: 25px;
}

.menu_items ul {
    text-align: right;
    /* float: right; */
    /* padding: 32px; */
    margin-top: 30px;
}

.menu_items ul li {
    list-style-type: none;
    display: inline;
    margin-right: 25px;
    font-size: 18px;
}

.menu_items ul li a {
    text-decoration: none;
    color: black;
    font-weight: 700;
}

.menu_items ul li a:hover {
    opacity: 0.4;
}

.col-xl-12.col-md-12.col-sm-12.slider_data {
    padding: 0;
}

.row.sec_one {
    margin-top: 30px;
    margin-bottom: 60px;
}

.section_one {
    margin-bottom: 20px;
}

.section_one_text {
    padding: 45px;
    margin-top: 130px;
    flex: 4;
}

.section_one_text h2 {
    margin-bottom: 15px;
}

.section_one_text p {
    line-height: 1.4em;
}

.section_one_products {
    margin-top: 10px;
    padding: 40px 0px 40px 0px;
    flex: 8;
    display: flex;
}

.section_one img {
    width: 100%;
    cursor: pointer;
    margin-bottom: 30px;
    transition: transform .6s;
}

.section_one h2 {
    margin-top: 10px;
    text-align: center;
    cursor: pointer;
}

.section_one h4 {
    text-align: center;
    margin-top: 30px;
}

.pro_btn {
    text-align: center;
    padding: 10px;
    margin-top: 40px;
}

.pro_btn a {
    text-decoration: none;
    color: black;
    background: white;
    border: 1px solid;
    padding: 15px 20px 15px 20px;
    /* width: 100%; */
}

.section_one img:hover {
    opacity: 0.5;
    transition: opacity 300ms;
    transform: scale(1.02);
    transition: transform .6s;
}

.pro_btn a:hover {
    text-decoration: none;
    color: white;
    background: black;
    padding: 15px 20px 15px 20px;
    width: 100%;
    transition: 300ms;
}

.section_one h2:hover {
    text-decoration: underline;
}


/* SECTION TWO */

.section_two {
    display: flex;
    flex-direction: column;
}

.section_two h1 {
    text-align: center;
    padding: 80px;
    flex: 12;
}

.section_two_text {
    padding: 45px;
    margin-top: 130px;
    flex: 4;
}

.section_two_products {
    margin-top: 10px;
    padding: 40px 50px 40px 50px;
    display: flex;
    margin-bottom: 100px;
    flex: 12;
}

.section_two_product {
    margin-bottom: 20px;
}

.section_two_product img {
    width: 100%;
    cursor: pointer;
    margin-bottom: 30px;
    transition: transform .6s;
}

.section_two_product h2 {
    margin-top: 10px;
    text-align: center;
    cursor: pointer;
}

.section_two_product h4 {
    text-align: center;
    margin-top: 30px;
    font-size: 24px;
}

.section_two_product img:hover {
    opacity: 0.5;
    transition: opacity 300ms;
    transform: scale(1.09);
    transition: transform .6s;
}

.section_two_product h2:hover {
    text-decoration: underline;
}

.label {
    position: relative;
    bottom: 72%;
    left: 2%;
}

.label span {
    background: red;
    padding: 5px 14px 5px 14px;
    color: white;
}

.label_new {
    position: relative;
    bottom: 72%;
    left: 2%;
}

.label_new span {
    background: #299ac8;
    padding: 5px 14px 5px 14px;
    color: white;
}

.new_services {
    display: flex;
    flex: 12;
}

.shipping {
    flex: 3;
}

.return {
    flex: 3;
}

.guarantee {
    flex: 3;
}

.secure_guarantee {
    flex: 3;
}

.shipping h3 {
    background-color: black;
    color: white;
    text-align: center;
    padding: 40px;
    border-right: 1px solid #8c8c8c;
    transition: transform .6s;
    cursor: pointer;
    font-size: 16px;
}

.return h3 {
    background-color: black;
    color: white;
    text-align: center;
    padding: 40px;
    border-right: 1px solid #8c8c8c;
    transition: transform .6s;
    cursor: pointer;
    font-size: 16px;
}

.guarantee h3 {
    background-color: black;
    color: white;
    text-align: center;
    padding: 40px;
    border-right: 1px solid #8c8c8c;
    transition: transform .6s;
    cursor: pointer;
    font-size: 16px;
}

.secure_guarantee h3 {
    background-color: black;
    color: white;
    text-align: center;
    padding: 40px;
    border-right: 1px solid #8c8c8c;
    transition: transform .6s;
    cursor: pointer;
    font-size: 16px;
}

.col-xl-3.col-md-3.col-sm-3.shipping {
    padding: 0;
}

.col-xl-3.col-md-3.col-sm-3.return {
    padding: 0;
}

.col-xl-3.col-md-3.col-sm-3.guarantee {
    padding: 0;
}

.col-xl-3.col-md-3.col-sm-3.secure_guarantee {
    padding: 0;
}

.row.new_service {
    margin-top: 30px;
}

.footer_logo {
    width: 60%;
}

.footer_logo img {
    width: 100%;
    padding: 40px;
}

.footer .address p {
    line-height: 2em;
    margin-left: 40px;
    width: 80%;
}

.footer .shop {
    padding: 40px;
}

.footer .shop ul {
    line-height: 2;
}

.footer .shop ul li {
    list-style-type: none;
    margin-top: 20px;
    cursor: pointer;
}

.footer .shop ul li:hover {
    opacity: 0.7;
}

.footer .information {
    flex: 3;
    padding: 40px;
}

.footer .information ul {
    line-height: 2;
}

.footer .information ul li {
    list-style-type: none;
    margin-top: 20px;
    cursor: pointer;
}

.footer .information ul li:hover {
    opacity: 0.7;
}

.footer .services {
    flex: 3;
    padding: 40px;
}

.footer .services ul {
    line-height: 2;
}

.footer .services ul li {
    list-style-type: none;
    margin-top: 20px;
    cursor: pointer;
}

.footer .services ul li:hover {
    opacity: 0.7;
}

.payment_area {
    padding: 40px;
}

.payment_area p {
    line-height: 2;
    color: #444141;
}

.transaction {
    padding: 40px;
}

.transaction img {
    width: 100%;
    float: right;
    cursor: pointer;
}


/* SINGLE PRODUCT START */

.main_pro_img {
    padding: 60px;
}

.main_pro_img img {
    width: 100%;
    cursor: pointer;
    transition: transform .6s;
}

.main_pro_img img:hover {
    transition: opacity 300ms;
    transform: scale(1.09);
    transition: transform .6s;
}

.about_pro {
    padding: 100px;
}

.about_pro h5 {
    margin-bottom: 15px;
}

.about_pro h2 {
    margin-bottom: 15px;
}

.about_pro h6 {
    margin-bottom: 15px;
}

.about_pro h2 {
    margin-bottom: 15px;
}

.about_pro p {
    line-height: 1.7em;
    margin-bottom: 15px;
}

span.pro_details {
    color: #6d6a6a;
}

.main_pro_btn {
    margin-top: 40px;
}

.my_btn {
    text-decoration: none;
    color: white;
    background: black;
    border: 1px solid;
    padding: 20px;
    margin-top: 10px;
    text-align: center;
    cursor: pointer;
    font-weight: 700;
}

.my_pro_btn {
    text-decoration: none;
    color: black;
    background: white;
    border: 1px solid;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    font-weight: 700;
    width: 80%;
    margin: 0 auto;
}

.my_pro_btn:hover {
    text-decoration: none;
    color: white;
    background: black;
    border: 1px solid;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    font-weight: 700;
    width: 80%;
    margin: 0 auto;
    transition: 300ms;
}

.my_btn:hover {
    text-decoration: none;
    color: black;
    background: white;
    padding: 20px;
    transition: 300ms;
}

.cart_trans {
    margin-top: 49px;
}

.cart_trans img {
    width: 65%;
    cursor: pointer;
}

.pro_slider_text {
    width: 30%;
    text-align: center;
    position: relative;
    bottom: 11%;
    left: 8%;
    color: white;
    font-size: 30px;
}

.my_slide h5 {
    font-size: 50px;
}

.my_slide p {
    font-size: 30px;
}

.section_one img:hover {
    opacity: 0.5;
    transition: opacity 300ms;
    transform: scale(1.02);
    transition: transform .6s;
}

.slide_btn {
    text-align: center;
    padding: 30px;
}

.slide_btn a {
    text-decoration: none;
    color: black;
    background: white;
    border: 1px solid;
    padding: 15px 20px 15px 20px;
    margin-bottom: 15px;
    ;
    /* width: 100%; */
}

.slide_btn a:hover {
    text-decoration: none;
    color: white;
    background: black;
    padding: 15px 20px 15px 20px;
    width: 100%;
    transition: 300ms;
}

.row.sect_two_products {
    margin-bottom: 65px;
}

.col-xl-2.col-md-2.col-sm-12.section_two_product a h2 {
    color: black;
}

.row.pro_sec {
    margin-top: 55px;
}

.row.heading h1 {
    text-align: center;
    padding: 60px;
    text-decoration: underline;
    text-underline-position: under;
}

.col-xl-6.col-md-6.col-sm-12.first p {
    color: #676161;
}

.col-xl-6.col-md-6.col-sm-12.first h2 {
    font-weight: 700;
    font-size: 22px;
}

form label {
    font-size: 22px;
    font-weight: 700;
}

form input {
    width: 60%;
    padding: 15px;
    border: 1px solid #b5b5b5;
}

form textarea {
    width: 100%;
    padding: 55px;
    border: 1px solid #b5b5b5;
}

.address_area {
    background-color: #f7f7f7;
}

.col-xl-6.col-md-6.col-sm-12.first {
    padding: 80px;
}

.address_area {
    background-color: #f7f7f7;
    padding: 110px;
}

.address_area h2 {
    font-weight: 700;
    font-size: 22px;
}

p.p1 {
    color: black;
}

p.p3 {
    margin-bottom: 30px;
    color: black;
}

p.p4 {
    margin-top: 25px;
}

p.p2 {
    color: black;
    margin-top: 30px;
    margin-bottom: 30px;
}

.my_chat_btn {
    text-decoration: none;
    color: black;
    background: white;
    border: 1px solid;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    font-weight: 700;
    width: 50%;
}

.my_chat_btn:hover {
    text-decoration: none;
    color: white;
    background: black;
    border: 1px solid;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    font-weight: 700;
    width: 50%;
    transition: 300ms;
}

.newsletter_btn {
    text-decoration: none;
    color: white;
    background: black;
    border: 1px solid #000;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    font-weight: 700;
    margin: 0 auto;
    display: inline;
}

.newsletter_btn:hover {
    text-decoration: none;
    color: black;
    background: white;
    border: 1px solid;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    font-weight: 700;
    margin: 0 auto;
    transition: 300ms;
    display: inline;
}

.col-xl-12.col-md-12.col-sm-12.background_img {
    background: url('../Images/background.jpg');
    background-position: center top;
    background-repeat: repeat-x;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    height: 800px;
}

.col-xl-12.col-md-12.col-sm-12.background_img h1 {
    color: white;
    font-size: 40px;
    margin-bottom: 30px;
}

.col-xl-12.col-md-12.col-sm-12.background_img p {
    color: white;
    font-weight: 700;
    margin-bottom: 30px;
}

form.my_form input {
    width: 70%;
    text-align: center;
    border: none;
}

form.my_form {
    width: 25%;
    text-align: center;
    border: none;
    display: inline-block;
    margin-bottom: 40px;
}

.news_btn {
    text-align: center;
    padding: 10px;
    margin-top: 30px;
    display: inline-block;
}

.inner_data {
    position: relative;
    top: 30%;
}

ul.icons li i {
    cursor: pointer;
}

ul.icons li {
    display: inline-block;
    margin-right: 30px;
}

ul.icons li i:hover {
    color: #43c0d8;
    cursor: pointer;
}

.row.account {
    margin-top: 160px;
    text-align: center;
    text-decoration: underline;
    text-underline-position: under;
}

p.forgot span {
    cursor: pointer;
}

p.forgot {
    margin-top: 25px;
}

p.about {
    font-size: 25px;
    line-height: 2;
    padding: 100px;
    text-align: center;
}